
{% extends 'admin/admin_layout.html'  %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
   
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">View/Delete Users</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/administrator/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Mng Users </li>
              <li class="breadcrumb-item active">View/Delete Users </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      {% include 'admin/includes/_messages.html' %}
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-12">
          <div class="card">
           
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                  
                <tr>
                  <th>User Type</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Mobile No.</th>
                  <th>Email</th>
                  <th>Registration Date Time</th>
                  <th>Login Date Time</th>
                  <th>View in detail</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                 {% for data in userdata %}
                  <tr>
                    <td>{{ data.user_type }}</td>
                    <td>{{ data.first_name }}</td>
                    <td>{{ data.last_name }}</td>
                    <td>{{ data.mobile_no }}</td>
                    <td>{{ data.email_id }}</td>
                    <td>{{ data.reg_date_time }}</td>
                    <td>{{ data.login_date_time }}</td>
                    <td><a href="/administrator/mngusers/viewusers/{{ data.user_id }}"><button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                 {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
      </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  

{% endblock %}

{% block body_extra %}

<script type="text/javascript">
  $(document).ready(function () {
 
  $('#example2').DataTable({
      "paging": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
})
</script>
{% endblock body_extra %}