{% extends 'admin/admin_layout.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Kishanbhai parekh</h1>

          </div><!-- /.col -->
         
        </div><!-- /.row -->
         <hr>
      </div><!-- /.container-fluid -->
    </div>

    <!-- /.content-header -->
   
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
      
        <div class="row">
          <div class="col-12">
          <div class="card">
            <div class="card-body">
              <table>
                <tbody>
                  <tr>
                    <td> <strong>User Type </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>Owner</td>
                  </tr>
                  <tr>
                    <td> <strong>First Name </strong ></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>Kishanbhai</td>
                  </tr>
                  <tr>
                    <td> <strong>Last Name </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>parekh</td>
                  </tr>
                  <tr>
                    <td> <strong>Email </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>xyz@gmail.com</td>
                  </tr>
                   <tr>
                    <td><strong>Mobile No. </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>8974561263</td>
                  </tr>
                   <tr>
                    <td><strong>Address </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>near shajanand party plot</td>
                  </tr>
                  <tr>
                    <td><strong>City </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>Ahmedabad</td>
                  </tr>
                  <tr>
                    <td><strong>Pincode </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>382350</td>
                  </tr>
                   <tr>
                    <td> <strong>Registration Date Time </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>29/12/2021 19:45:30</td>
                  </tr>
                   <tr>
                    <td><strong>ID Proof </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>
                       <div class="card w-50"> 
                          <div class="card-body">
                             <img src="{{ baseUrl }}/photo1.png" class="img-fluid img-thumbnail" >
                          </div>
                          <div class="card-footer">
                             photo1.png
                          </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <td><strong>IS a/c active? </strong></td>
                    <td colspan="3">:&nbsp;&nbsp;&nbsp;</td>
                    <td>Yes</td>
                  </tr>


                </tbody>
              </table>
          
            </div>
          </div>
          <!-- /.card -->

      
          <!-- /.card -->
        </div>
      </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}  

  
