{% extends 'admin/admin_layout.html' %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">View/Delete Property/Services</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/administrator/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Mng Property/Services </li>
              <li class="breadcrumb-item active">View/Delete Property/Services </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
      
        <div class="row">
          <div class="col-12">
          <div class="card">
           <div class="card-header">
              <h3 class="card-title">DataTable with minimal features & hover style</h3>
            </div>
            <!-- /.card-header -->
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Property/Service Category</th>
                  <th>Property/Service Name</th>
                  <th>Owner Name</th>
                  <th>Owner Mobile No.</th>
                  <th>Capacity</th>
                  <th>Normal Price (Rs.)</th>
                  <th>Verified?</th>
                  <th>Active Status</th>
                  <th>View in detail</th>
                  <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                     <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                     <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                     <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                     <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                     <tr>
                    <td>Party Plot</td>
                    <td>shahjanand party plot</td>
                    <td>kishanbhai</td>
                    <td>8978461245</td>
                    <td>5000</td>
                    <td>5,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>
                    <tr>
                    <td>Banquet</td>
                    <td>Superia</td>
                    <td>Mihirbhai</td>
                    <td>8978461245</td>
                    <td>500</td>
                    <td>1,00,000</td>
                    <td><center><input type="checkbox" name="terms" id="8" ></center></td>
                    <td><center><input type="checkbox" name="terms" id="8" checked=""></center></td>
                    <td><a href="/administrator/mngproperties/viewproperties/1"<button type="button" class="btn btn-block btn-primary">View</button></a></td>
                    <td><button type="button" class="btn btn-block btn-danger">delete</button></td>
                  </tr>            
                </tbody>
               
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

      
          <!-- /.card -->
        </div>
      </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}  

 

{% block body_extra %}
<script type="text/javascript">
  $(document).ready(function () {
 
  $('#example2').DataTable({
      "paging": true,
      
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
})
</script>
{% endblock body_extra %}

